{% if categories %}
	{% for category in categories %}
		{% if category.children %}
            <div class="dropdown-inner">
				{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
					<ul class="list-unstyled">
						{% for child in children %}
							<li><a href="{{ child.href }}">{{ child.name }}</a></li>
						{% endfor %}
					</ul>
				{% endfor %}
			</div>
			<a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a>
        {% endif %}
	{% endfor %}
{% endif %} 