{{ header }}{{ column_left }} 
<div id="content" class="bootstrap">
    <div class="page-header">
        <div class="container-fluid">      
            <div class="pull-right">
                <a href="{{ add_url }}" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="{{ text_add }}"><i class="fa fa-plus-circle"></i></a>
            </div>    
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %} 
                    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                    {% endfor %} 
            </ul>
        </div>
    </div>


    <div class="container-fluid">		
        <div class="row">            
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default" id="fieldset_form">			
                    <div class="panel-heading" style="display: inline-block; width: 100%;"> 
                        {{ heading_title }} 
                    </div>
                    <div class="panel-body">
                        {{tab_common}}

                        <div class="filter-table-responsive table-responsive">
                            <table class="table filter">
                                <thead>
                                    <tr>
                                        <th>
                                            {% if (sort == 'field.id_field') %} 
                                                <a href="{{ sort_id_field }}" class="{{order}}">{{ id }}</a>
                                            {% else %} 
                                                <a href="{{ sort_id_field }}">{{ id }}</a>
                                            {% endif %} 
                                        </th>
                                        <th>
                                            {% if (sort == 'field_lang.label') %} 
                                                <a href="{{ sort_label }}" class="{{order}}">{{ label }}</a>
                                            {% else %} 
                                                <a href="{{ sort_label }}">{{ label }}</a>
                                            {% endif %} 
                                        </th>
                                        <th>
                                            {% if (sort == 'field.type') %} 
                                                <a href="{{ sort_type }}" class="{{order}}">{{ input_type }}</a>
                                            {% else %} 
                                                <a href="{{ sort_type }}">{{ input_type }}</a>
                                            {% endif %} 
                                        </th>
                                        <th style="display: none">
                                            {% if (sort == 'field.section') %} 
                                                <a href="{{ sort_id_section }}" class="{{order}}">{{ section }}</a>
                                            {% else %} 
                                                <a href="{{ sort_id_section }}">{{ section }}</a>
                                            {% endif %} 
                                        </th>
                                        <th>
                                            {% if (sort == 'field.position') %} 
                                                <a href="{{ sort_id_position }}" class="{{order}}">{{ position }}</a>
                                            {% else %} 
                                                <a href="{{ sort_id_position }}">{{ position }}</a>
                                            {% endif %} 
                                        </th>
                                        <th>
                                            {% if (sort == 'field.active') %} 
                                                <a href="{{ sort_active }}" class="{{order}}">{{ status }}</a>
                                            {% else %} 
                                                <a href="{{ sort_active }}">{{ status }}</a>
                                            {% endif %} 
                                        </th>
                                        <th>
                                            {% if (sort == 'field.date_upd') %} 
                                                <a href="{{ sort_date_upd }}" class="{{order}}">{{ last_update }}</a>
                                            {% else %} 
                                                <a href="{{ sort_date_upd }}">{{ last_update }}</a>
                                            {% endif %} 
                                        </th>
                                    </tr>
                                    <tr>  
                                        <th style="width: 30px">
                                            <input type="text" class="form-control" name="id_field" value="{% if (id_field_filter is defined) %}{{ id_field_filter }}{% endif %}"/>
                                        </th>
                                        <th>
                                            <input type="text" class="form-control" name="label" value="{% if (label_filter is defined) %}{{ label_filter }}{% endif %}"/>
                                        </th>
                                        <th>
                                            <input type="text" class="form-control" name="type" value="{% if (type_filter is defined) %}{{ type_filter }}{% endif %}"/>                                    
                                        </th>
                                        <th style="display: none">
                                            <select class="fixed-width-small form-control" name="id_section">	
                                                <option value=""></option>
                                                <option value="1" {{ id_section_filter == 1 ? 'selected' : '' }}>{{ text_general }}</option>
                                                <option value="2" {{ id_section_filter == 2 ? 'selected' : '' }}>{{ text_meta_info }}</option>
                                                <option value="3" {{ id_section_filter == 3 ? 'selected' : '' }}>{{ text_policy }}</option>
                                                <option value="4" {{ id_section_filter == 4 ? 'selected' : '' }}>{{ text_payout_info }}</option>
                                            </select>
                                        </th>
                                        <th></th>
                                        <th>
                                            <select class="form-control" name="active">
                                                <option value="" selected="selected"></option>
                                                <option value="1" {% if (active_filter == '1') %}selected{% endif %}>{{ text_active }}</option>
                                                <option value="0" {% if (active_filter == '0') %}selected{% endif %}>{{ text_inactive }}</option>
                                            </select> 
                                        </th>
                                        <th style="width: 155px">
                                            <div class="input-group date" style="margin-bottom:10px;">

                                                {% set from = '' %}
                                                {% set to = '' %}
                                                {% if (from_date_filter is defined) %} 
                                                    {% set from = from_date_filter %}
                                                {% endif %} 

                                                {% if (to_date_filter is defined) %} 
                                                    {% set to = to_date_filter %}
                                                {% endif %} 


                                                <input type="text" name="from_date" value="{{ from }}" placeholder="{{ text_from_date }}" data-date-format="YYYY-MM-DD" id="input-from-date" class="datepicker hasDatepicker form-control">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                            <div class="input-group date">
                                                <input type="text" name="to_date"value="{{ to }}" placeholder="{{ text_to_date }}" data-date-format="YYYY-MM-DD" id="input-to-date" class="datepicker hasDatepicker form-control">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </th>
                                        <th style="width: 105px" class="text-right">
                                            <button type="button" id="button-reset" name="submitFilter" class="btn btn-warning" style="margin-bottom: 10px;" onclick="window.location.href = 'index.php?route=kbmp_marketplace/seller_profile_custom_fields&user_token={{ token }}'">
                                                <i class="fa fa-refresh"></i> {{ text_reset }} 
                                            </button>
                                            <br>
                                            <button type="submit" id="button-filter" name="submitFilter" class="btn btn-primary">
                                                <i class="fa fa-search"></i> {{ text_filter }} 
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if (custom_field is defined and custom_field is not empty) %}
                                        {% for custom_field_data in custom_field %} 

                                            <tr>
                                                <td>{{ custom_field_data['id_field'] }}</td>
                                                <td>{{ custom_field_data['label'] }}</td>
                                                <td>{{ custom_field_data['type'] }}</td>
                                                <td style="display: none">

                                                    {% set id_section = custom_field_data['id_section'] %}
                                                    {% if (id_section == 1) %}
                                                        {{ text_general }}
                                                    {% elseif (id_section == 2) %}
                                                        {{ text_meta_info }}
                                                    {% elseif (id_section == 3) %}
                                                        {{ text_policy }}
                                                    {% elseif (id_section == 4) %}
                                                        {{ text_payout_info }}
                                                    {% endif %} 

                                                </td>
                                                <td>{{ custom_field_data['position'] }}</td>
                                                
                                                <td style="text-align: center;">
                                                    {% if (custom_field_data['active'] is defined and custom_field_data['active'] == "1") %}
                                                        <i class="fa fa-check text-success" title="{{ text_active }}"></i> 
                                                    {% else %} 
                                                        <i class="fa fa-ban text-danger" title="{{ text_inactive }}"></i> 
                                                    {% endif %}

                                                </td>
                                                <td>{{ custom_field_data['date_upd'] }}</td>
                                                <td class="btn_action_custom" style="text-align: right">
                                                    <a href="{{ custom_field_data['edit'] }}" data-toggle="tooltip" title="{{ text_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                                    <a href="{{ custom_field_data['delete'] }}" data-toggle="tooltip" title="{{ text_delete }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>

                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %} 

                                        <tr>
                                            <td colspan="9">{{ text_no_results }}</td>
                                        </tr>
                                    {% endif %}

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-left">{{pagination}}</div>
                            <div class="col-sm-6 text-right">{{results}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--container fluid ends-->
<script type="text/javascript">
    $('.date').datetimepicker({
        pickTime: false
    });
    //Trigger click event on Enter Keypress
    $(document).keypress(function (e) {
        if (e.which == 13) {
            $('#button-filter').trigger('click');
        }
    });

    $('#button-filter').on('click', function () {
        var url = 'index.php?route=kbmp_marketplace/seller_profile_custom_fields&user_token={{token}}';

        var id_field = $('input[name=\'id_field\']').val().trim();

        if (id_field) {
            url += '&id_field=' + encodeURIComponent(id_field);
        }

        var label = $('input[name=\'label\']').val().trim();

        if (label) {
            url += '&label=' + encodeURIComponent(label);
        }

        var type = $('input[name=\'type\']').val().trim();

        if (type) {
            url += '&type=' + encodeURIComponent(type);
        }

        var from_date = $('input[name=\'from_date\']').val().trim();

        if (from_date) {
            url += '&from_date=' + encodeURIComponent(from_date);
        }
        var to_date = $('input[name=\'to_date\']').val().trim();

        if (to_date) {
            url += '&to_date=' + encodeURIComponent(to_date);
        }


        var id_section = $('select[name=\'id_section\']').val().trim();

        if (id_section) {
            url += '&id_section=' + encodeURIComponent(id_section);
        }

        var active = $('select[name=\'active\']').val().trim();

        if (active) {
            url += '&active=' + encodeURIComponent(active);
        }

        location = url;
    });
</script>
{{ footer }}