{{ header }}{{ column_left }} 
<div id="content" class="bootstrap">
    <div class="page-header">
        <div class="container-fluid">          
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %} 
                    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                    {% endfor %} 
            </ul>
            <div class="pull-right">    
                <a href="index.php?route=kbmp_marketplace/seller_category/addCategoryCommission&user_token={{ token }}" data-toggle="tooltip" title="{{ text_button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>

    <div class="container-fluid">	
        {% if (success is defined) %} 
            <div class="alert alert-success">
                <i class="fa fa-check-circle"></i> {{ success }} 
            </div>
        {% endif %} 
        <div class="row">            
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default" id="fieldset_form">			
                    <div class="panel-heading" style="display: inline-block; width: 100%;"> 
                        {{ heading_title }} 
                    </div>
                    <div class="panel-body">
                        {{tab_common}}
                        <div class="filter-table-responsive table-responsive">
                            <table class="table filter">
                                <thead>
                                    <tr>
                                        <th>
                                            {% if (sort == 'c.firstname') %} 
                                                <a href="{{ sort_firstname }}" class="{{ (order) }}">{{ column_firstname }}</a>
                                            {% else %} 
                                                <a href="{{ sort_firstname }}">{{ column_firstname }}</a>
                                            {% endif %} 
                                        </th>
                                        <th>
                                            {% if (sort == 'c.lastname') %} 
                                                <a href="{{ sort_lastname }}" class="{{ (order) }}">{{ column_lastname }}</a>
                                            {% else %} 
                                                <a href="{{ sort_lastname }}">{{ column_lastname }}</a>
                                            {% endif %} 
                                        </th>
                                        <th>
                                            {% if (sort == 'c.email') %} 
                                                <a href="{{ sort_email }}" class="{{ (order) }}">{{ column_email }}</a>
                                            {% else %} 
                                                <a href="{{ sort_email }}">{{ column_email }}</a>
                                            {% endif %} 
                                        </th>
                                        <th>
                                            {% if (sort == 'ksd.title') %} 
                                                <a href="{{ sort_shop }}" class="{{ (order) }}">{{ column_shop }}</a>
                                            {% else %} 
                                                <a href="{{ sort_shop }}">{{ column_shop }}</a>
                                            {% endif %} 
                                        </th>
                                        <th>
                                            <a href="javascripy:void()">{{ column_category }}</a>
                                        </th>
                                        <th>
                                            <a href="javascripy:void()" >{{ column_commission }}</a>   
                                        </th>
                                        <th></th>
                                    </tr>
                                    <tr>  
                                        <th>
                                            <input type="text" class="form-control" name="filter_firstname" value="{% if (filter_data['filter_firstname'] is defined) %}{{ filter_data['filter_firstname'] }}{% endif %}"/>
                                        </th>
                                        <th>
                                            <input type="text" class="form-control" name="filter_lastname" value="{% if (filter_data['filter_lastname'] is defined) %}{{ filter_data['filter_lastname'] }}{% endif %}"/>
                                        </th>
                                        <th>
                                            <input type="text" class="form-control" name="filter_email" value="{% if (filter_data['filter_email'] is defined) %}{{ filter_data['filter_email'] }}{% endif %}"/>                                    
                                        </th>
                                        <th>
                                            <input type="text" class="form-control" name="filter_shop" value="{% if (filter_data['filter_shop'] is defined) %}{{ filter_data['filter_shop'] }}{% endif %}"/>                                    
                                        </th>
                                        <th>
                                            <input type="text" class="form-control" name="filter_category" value="{% if (filter_data['filter_category'] is defined) %}{{ filter_data['filter_category'] }}{% endif %}"/>                                    
                                        </th>
                                        <th></th>
                                        <th>
                                            <button type="submit" id="button-filter" name="submitFilter" class="btn btn-primary">
                                                <i class="fa fa-search"></i> {{ text_filter }} 
                                            </button>
                                            <button type="button" id="button-reset" name="submitFilter" class="btn btn-warning" style="margin-top:5px" onclick="window.location.href = 'index.php?route=kbmp_marketplace/seller_category&user_token={{ token }}'">
                                                <i class="fa fa-refresh"></i> {{ text_reset }} 
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if (sellers is defined and sellers is not empty) %}
                                        {% for seller in sellers %} 

                                            <tr>
                                                <td>{{ seller['firstname'] }}</td>
                                                <td>{{ seller['lastname'] }}</td>
                                                <td>{{ seller['email'] }}</td>
                                                <td>{{ seller['shop'] }}</td>
                                                <td>{{ seller['category_name'] }}</td>
                                                <td>{{ seller['commission'] }}</td>
                                                <td style="width: 105px">
                                                    <a href="{{ seller['edit'] }}" data-toggle="tooltip" title="{{ text_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                                    <a href="{{ seller['delete'] }}" data-toggle="tooltip" title="{{ text_delete }}" onclick="return confirm('{{ text_delete_message }}')" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %} 

                                        <tr>
                                            <td colspan="9">{{ text_no_results }}</td>
                                        </tr>
                                    {% endif %}

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-left">{{ pagination }}</div>
                            <div class="col-sm-6 text-right">{{ results }}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--container fluid ends-->
</div>
<script type="text/javascript">
    $('.date').datetimepicker({
        pickTime: false
    });

    //Trigger click event on Enter Keypress
    $(document).keypress(function (e) {
        if (e.which == 13) {
            $('#button-filter').trigger('click');
        }
    });

    $('#button-filter').on('click', function () {
        var url = 'index.php?route=kbmp_marketplace/seller_category&user_token={{ token }}';

        var filter_firstname = $('input[name=\'filter_firstname\']').val();

        if (filter_firstname) {
            url += '&filter_firstname=' + encodeURIComponent(filter_firstname);
        }

        var filter_lastname = $('input[name=\'filter_lastname\']').val();

        if (filter_lastname) {
            url += '&filter_lastname=' + encodeURIComponent(filter_lastname);
        }

        var filter_email = $('input[name=\'filter_email\']').val();

        if (filter_email) {
            url += '&filter_email=' + encodeURIComponent(filter_email);
        }

        var filter_shop = $('input[name=\'filter_shop\']').val();

        if (filter_shop) {
            url += '&filter_shop=' + encodeURIComponent(filter_shop);
        }

        var filter_state = $('input[name=\'filter_state\']').val();

        if (filter_state) {
            url += '&filter_state=' + encodeURIComponent(filter_state);
        }

        var filter_country = $('select[name=\'filter_country\']').val();

        if (filter_country) {
            url += '&filter_country=' + encodeURIComponent(filter_country);
        }

        var filter_category = $('input[name=\'filter_category\']').val();

        if (filter_category) {
            url += '&filter_category=' + encodeURIComponent(filter_category);
        }
        location = url;
    });
</script>
{{ footer }}