{{ header }} 
<div id="content-wrapper" class="col-lg-9" style="border: 1px solid #eaeef8;padding: 0px;width: 80%;">
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="toggleMenu">
                <i class="fa fa-bars"></i>
            </div>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ account_link }}">
                            <i class="fa fa-user"></i> <span>{{ text_my_account1 }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ logout_link }}">
                            <span>{{ text_logout }}</span> <i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="content" class="" style="background-color: #ecf0f5;padding: 10px">
        <h2 class="marketplaceHeading">
            {{ heading_title }} 
        </h2>


        <div class="panel panel-default">
            <div class="panel-body">
                <div style="color: red">{{seller_disabled_info}}</div>
            </div>
        </div>

    </div>
</div>
<div style="clear: both"></div>                        
{{ footer }} 
