<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>
	{% if robots %}
		<meta name="robots" content="{{ robots }}" />
	{% endif %}
	<base href="{{ base }}" />
	{% if description %}
		<meta name="description" content="{{ description }}" />
	{% endif %}
	{% if keywords %}
		<meta name="keywords" content="{{ keywords }}" />
	{% endif %}
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ og_url }}" />
	{% if og_image %}
		<meta property="og:image" content="{{ og_image }}" />
	{% else %}
		<meta property="og:image" content="{{ logo }}" />
	{% endif %}
	<meta property="og:site_name" content="{{ name }}" />
	<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
  	<script src="catalog/view/javascript/mCustomScrollbar.js" type="text/javascript"></script>
	<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css" integrity="sha512-wJgJNTBBkLit7ymC6vvzM1EcSWeM9mmOu+1USHaRBbHkm6W9EgM0HY27+UtUaprntaYQJF75rc8gjxllKs5OIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js" integrity="sha512-zlWWyZq71UMApAjih4WkaRpikgY9Bz1oXIW5G0fED4vk14JjGlQ1UmkGM392jEULP8jbNMiwLWdM8Z87Hu88Fw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/jquery.inputmask.bundle.min.js" integrity="sha512-VpQwrlvKqJHKtIvpL8Zv6819FkTJyE1DoVNH0L2RLn8hUPjRjkS/bCYurZs0DX9Ybwu9oHRHdBZR9fESaq8Z8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
  <link href="catalog/view/theme/default/stylesheet/mCustomScrollbar.css" rel="stylesheet">
	<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
	{% for style in styles %}
		<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
	{% endfor %}
	{% for script in scripts %}
		<script src="{{ script }}" type="text/javascript"></script>
	{% endfor %}
	<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
	{% for link in links %}
		<link href="{{ link.href }}" rel="{{ link.rel }}" />
	{% endfor %}
	{% for analytic in analytics %}
		{{ analytic }}
	{% endfor %}
</head>
<body {% if home == og_url %} class="home"{% endif %}>
<header class="header">
	<div class="header__main">
		<div class="container">
			<div class="header__top">
				<button class="header__menu-btn">
					<span class="header__menu-btn-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</button>
				{% if home == og_url %}
					<div class="header__logo">
						<img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
					</div>
				{% else %}
					<a href="{{ home }}" class="header__logo">
						<img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
					</a>
				{% endif %}
				<div class="header__icons">
					<a href="{{ link_compare }}" class="header__icons-compare">	
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="11" cy="11" r="11" fill="white"/>
							<path d="M7 15.3103L7 6" stroke="#272727" stroke-width="2" stroke-linecap="round"/>
							<path d="M11 15.3103L11 10.1379" stroke="#272727" stroke-width="2" stroke-linecap="round"/>
							<path d="M15 15.3103L15 8.06896" stroke="#272727" stroke-width="2" stroke-linecap="round"/>
						</svg>
                      	<span class="header__icons_compare-count">{{ text_comparelist }}</span>
					</a>
					<a href="{{ link_likes }}" class="header__icons-likes">
						<svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.83925 12.898L12.2952 21.2997L12.2952 21.2997C12.6276 21.63 12.7938 21.7952 13 21.7952C13.2062 21.7952 13.3724 21.63 13.7048 21.2997L22.1607 12.898C24.3677 10.7052 24.639 7.22796 22.7989 4.71938L22.2567 3.98022C19.9684 0.860827 15.167 1.36442 13.5758 4.89069C13.352 5.38651 12.648 5.38651 12.4242 4.89069C10.833 1.36442 6.03156 0.860829 3.74335 3.98022L3.20114 4.71938C1.36099 7.22796 1.63229 10.7052 3.83925 12.898Z" fill="white" stroke="white" stroke-width="2"/>
						</svg>
						<span class="header__icons_likes-count">{{ text_wishlist }}</span>
					</a>
					{{ cart }}
				</div>
				{% if not logged %}
					<a href="{{ login }}" class="header__login-btn">
						<span class="header__login-btn-icon">					
							<svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M17.9276 19.1632C18.501 19.0382 18.8441 18.4404 18.5761 17.9182C17.9175 16.6349 16.8556 15.5072 15.4872 14.6532C13.7696 13.5811 11.665 13 9.5 13C7.33496 13 5.23041 13.5811 3.51276 14.6532C2.14439 15.5072 1.08249 16.6349 0.423888 17.9182C0.155926 18.4404 0.498985 19.0382 1.07242 19.1632C6.62562 20.3735 12.3744 20.3735 17.9276 19.1632Z" fill="white"/>
								<circle cx="9.5" cy="5.5" r="5.5" fill="white"/>
							</svg>
						</span>
						<span class="header__login-btn-text">{{ text_login }}</span>
					</a>
				{% else %}
					<a href="{{ logout }}" class="header__login-btn">
						<span class="header__login-btn-icon">
							<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="21px" height="21px" viewBox="0 0 533.333 533.333" style="enable-background:new 0 0 533.333 533.333;" xml:space="preserve" fill="#fff">
								<g>
									<path d="M416.667,333.333v-66.666H250V200h166.667v-66.667l100,100L416.667,333.333z M383.333,300v133.333H216.667v100l-200-100V0 h366.667v166.667H350V33.333H83.333L216.667,100v300H350V300H383.333z"/>
								</g>
							</svg>
						</span>
						<span class="header__login-btn-text">{{ text_logout }}</span>
					</a>
				{% endif %}
			</div>
			<div class="header__bottom">
				<button class="header__menu-btn">
					<span class="header__menu-btn-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
					<span class="header__menu-btn-text">{{ text_catalog }}</span>
				</button>
				<div class="header__search">
					{{ search }}
				</div>
				<div class="header__icons">
					<a href="{{ link_compare }}" class="header__icons-compare">	
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="11" cy="11" r="11" fill="white"/>
							<path d="M7 15.3103L7 6" stroke="#272727" stroke-width="2" stroke-linecap="round"/>
							<path d="M11 15.3103L11 10.1379" stroke="#272727" stroke-width="2" stroke-linecap="round"/>
							<path d="M15 15.3103L15 8.06896" stroke="#272727" stroke-width="2" stroke-linecap="round"/>
						</svg>
                        <span class="header__icons_compare-count">{{ text_comparelist }}</span>
					</a>
					<a href="{{ link_likes }}" class="header__icons-likes">
						<svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.83925 12.898L12.2952 21.2997L12.2952 21.2997C12.6276 21.63 12.7938 21.7952 13 21.7952C13.2062 21.7952 13.3724 21.63 13.7048 21.2997L22.1607 12.898C24.3677 10.7052 24.639 7.22796 22.7989 4.71938L22.2567 3.98022C19.9684 0.860827 15.167 1.36442 13.5758 4.89069C13.352 5.38651 12.648 5.38651 12.4242 4.89069C10.833 1.36442 6.03156 0.860829 3.74335 3.98022L3.20114 4.71938C1.36099 7.22796 1.63229 10.7052 3.83925 12.898Z" fill="white" stroke="white" stroke-width="2"/>
						</svg>
						<span class="header__icons_likes-count">{{ text_wishlist }}</span>
					</a>
					{{ cart }}
				</div>
			</div>
		</div>
	</div>
	
			{% if megamenu_status %}
				{{ menuvh }}
			{% else %}
				{{ menu }}
			{% endif %}
			
</header>
<div class="site">